# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

openapi/postman

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

local-scrape/output.txt

tensorflow-models/data